@media (max-width:320px) {

    /* SECTION ONE  */
    .collap-nav {
        margin-left: 100px;
    }
    .one,
    .footer {
        width: 141%;
    }

    .heading p {
        text-align: justify;
    }

    .carousel {
        width: 80%;
        margin: 100px auto;
        width: 80%;
    }

    #btnSg {
        top: 250px;
    }

    .one {
        margin-bottom: 50px;
    }

    /* SECTION TWO SERVICES */
    #two,
    #three,
    #five,
    #six,
    #cpy {
        width: 141%;
    }

    .btnReadMore {
        margin: 0;
    }

    /* SECTION THREE ABOUT US */
    #three {
        margin: 100px 0;
        height: 180vh;
    }

    .about-img-container {
        margin-left: 0px;
    }

    .about-us p {
        margin: 20px 30px;
        text-align: justify;
    }

    .abimg1 {
        margin-left: 30px;
    }

    .abimg2 {
        margin: -100px;
    }

    /* SECTION FIVE BLOG  */
    #five {
        margin-left: 0;
        margin-top: 50PX;
        height: 200vh;
    }

    .text-comment {
        margin-top: 8vh;
    }

    .card-group .card {
        margin-bottom: 50px;
    }
}
